<div class="d-flex flex-column">
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar en la tabla..."
      [(ngModel)]="filtro"
      (input)="aplicarFiltro()"
    />
  </div>

  @if (loading()) {
  <div style="display: flex; justify-content: center; align-items: center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  } @if (!loading()) {

  <div class="table-responsive" style="max-height: 70vh; overflow-y: auto">
    <table class="table table-bordered">
      <thead style="font-size: 12px" class="table-dark sticky-top">
        <tr>
          <th>#Remision</th>
          <th>Fecha movimiento</th>
          <th>Tipo de movimiento</th>
          <th>Cliente</th>
          <th>Documento</th>
          <th>Placa vehiculo</th>
          <th>Valor</th>
          <th>Estado transaccion</th>
          <th>Estado proceso</th>
        </tr>
      </thead>
      <tbody style="font-size: 12px">
        @for (registro of dataFiltered; track $index) {

        <tr>
          <td>{{ registro.numero_remision }}</td>
          <td>{{ registro.fecha_transaccion }}</td>
          <td>{{ registro.tipo_movimiento }}</td>
          <td>{{ registro.nombre_cliente }}</td>
          <td>{{ registro.documento_identidad }}</td>
          <td>{{ registro.placa_vehiculo }}</td>
          <td>{{ registro.valor }}</td>

          <td>
            @if (!registro.editTransactionMode) {
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
              "
            >
              <span>
                {{ registro.estado_transaccion }}
              </span>
              <i
                (click)="toggleEditModeTransaction(registro.numero_remision)"
                style="font-size: 10px; margin: 0 0; cursor: pointer"
                class="bi bi-pencil"
              ></i>
            </div>
            }@else { @if (modalLoading) {
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            }@else {
            <div class="d-flex justify-content-between column-gap-1">
              <select
                class="form-select form-select-sm"
                [(ngModel)]="registro.estado_transaccion"
                [value]="registro.estado_transaccion"
                (ngModelChange)="onEstadoTransaccionChange(registro, $event)"
              >
                <option value="Pendiente">Pendiente</option>
                <option value="Completada">Completada</option>
              </select>

              <div class="d-flex gap-1 flex-column">
                <i
                  (click)="cancelEditTransaction(registro)"
                  style="font-size: 12px; margin: 0 0; cursor: pointer"
                  class="bi bi-x-octagon"
                ></i>
                <i
                  (click)="sendUpdateTransaction(registro)"
                  style="font-size: 12px; margin: 0 0; cursor: pointer"
                  class="bi bi-floppy2"
                ></i>
              </div>
            </div>
            } }
          </td>

          <td>
            @if (!registro.editGestionMode) {

            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
              "
            >
              <span>
                {{ registro.estado_gestion }}
              </span>
              <i
                (click)="toggleEditModeGestion(registro.numero_remision)"
                style="font-size: 10px; margin: 0 0; cursor: pointer"
                class="bi bi-pencil"
              ></i>
            </div>
            }@else { @if (loadingGestion) {
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            }@else {
            <div class="d-flex justify-content-between column-gap-1">
              <select
                class="form-select form-select-sm"
                [(ngModel)]="registro.estado_gestion"
                [value]="registro.estado_gestion"
              >
                <option value="En proceso">En proceso</option>
                <option value="Finalizado">Finalizado</option>
              </select>

              <div>
                <i
                  (click)="cancelEditGestion(registro)"
                  style="font-size: 12px; margin: 0 0; cursor: pointer"
                  class="bi bi-x-octagon"
                ></i>
                <i
                  (click)="sendUpdateGestion(registro)"
                  style="font-size: 12px; margin: 0 0; cursor: pointer"
                  class="bi bi-floppy2"
                ></i>
              </div>
            </div>
            } }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
</div>
